* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background: #2a2a2b;
    height: 8vh;
    width: 100%;
    position: fixed;
    border: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: white;
    z-index: 100;
}

#logo {
    float: left;
    margin-left: 2%;
}

nav ul {
    float: right;
    margin-right: 2%;
}

nav ul li {
    display: inline-block;
    line-height: 7.8vh;
    margin: 0;
}

nav ul li a {
    color: white;
    font-size: 1.5vh;
    padding: 1.5vh 1.5vh;
    border-radius: 5px;
    text-transform: uppercase;
}

#navcta {
    background: #028ada;
    color: white;
}

#navcta:hover {
    background: #fa4646;
}

a:hover {
    background: #4e4e4e;
    transition: .5s;
}

a.active {
    color: #028ada;
}

.checkbtn {
    font-size: 4vh;
    color: white;
    float: right;
    line-height: 9vh;
    margin-right: 10vh;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

body {
    margin: 0;
    background: #2c2b2b;
    color: white;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-wrapper {
    background-image: url(../images/web3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.tagline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    font-size: 6vh;
    color: white;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    vertical-align: middle;
}

.herobg {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #4d0101, #013452);
    opacity: 0.75;
}

.btn {
    position: absolute;
    width: 25%; 
    height: 10vh; 
    margin-top: 3%; 
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border-style: solid;
    border-width: thin; 
    cursor: pointer;
}

.services-wrapper {
    background-image: url(../images/servicesimg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.box {
    float: left; 
    width: 27vw; 
    height: 300px; 
    background-color: #2c2b2b; 
    opacity: 0.7;
    margin: 70px 30px; 
    text-align: center; 
    padding: 20px 10px; 
}

.box .title {
    font-family: 'Keania One', cursive;
    color: #029ffa;  
    padding-bottom: 5%; 
    font-size: 30px; 
} 

.bg-box {
    float: left; 
    width: 90vw; 
    height: 20vw; 
    background-color: #2c2b2b; 
    opacity: 0.7;
    margin: 40px 30px; 
    text-align: center; 
    padding: 20px 10px; 
}

.bg-box .title {
    font-family: 'Keania One', cursive;
    color: #029ffa;  
    padding-bottom: 1%; 
    font-size: 30px; 
} 

.sm-box {
    float: left; 
    height: 90%; 
    width: 33%; 
    text-align: center; 
    padding: 1% 5%; 
}

.sm-box .title { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
}


/* contact page */
.contact-wrapper {
    background-color: #029ffa;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contact-box {
    float: left; 
    height: 100%; 
    width: 50%;
    background-color: #029ffa;
    text-align: center;  
    padding-top: 5%;    
}

.contact-box .title {
    font-size: 5vw; 
    color: white; 
    padding: 5%; 
}

/* contact form */
#fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: white; 
    border: none;
    border-radius: 0;
    display: block;
    width: 80%;
    background-color: #029ffa; 
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: 100%;
    margin-bottom: .5em;
    padding-top: .2em;
    display: flex;
    color: white; 
    align-items: baseline;
  }
  
  /* border, padding, margin, width */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
    border: 1px solid white;
    background-color: #029ffa);
    padding: .75em 1em;
    margin-bottom: 1.5em;
  }
  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
    background-color: #029ffa;
    outline-style: solid;
    outline-width: thin;
    outline-color: white;
    outline-offset: -1px;
  }
  #fs-frm [type="text"],
  #fs-frm [type="email"],
  #fs-frm [type="phone"]{
    width: 80%;
    padding: 4%; 
    background-color: #029ffa; 
  }
  #fs-frm [type="button"],
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  #fs-frm [type="button"]:focus,
  #fs-frm [type="submit"]:focus,
  #fs-frm [type="reset"]:focus {
    outline: none;
  }
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    margin-bottom: 0;
  }
  #fs-frm select {
    text-transform: none;
  }
  
  #fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
  }
  
  #fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
  }
  
  /* address, locale */
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
  }
  #fs-frm fieldset.locale input[name="city"] {
    width: 52%;
  }
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
  }
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
  }
  
  /* end contact form */

@media (max-width: 900px) {
    .checkbtn {
        display: block;
        margin-right: 10%;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2a2a2b;
        top: 8vh;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin-top: 2vh;
    }
    
    nav ul li a {
        font-size: 2vh;
        color: white;
    }
    a.active {
        background: none;
        color: #028ada;
    }
    a:hover {
        background: none;
        color: #029ffa;
    }

    #logo {
        margin-left: 5%;
    }

    .tagline {
        font-size: 4vh;
    }
    #check:checked ~ ul {
        left: 0;
    }

    .btn {
        font-size: 15px; 
    }

    .box {
        grid-column: span 12;
        float: left; 
        width: 90vw; 
        height: 200px;
        margin: 40px;
    }

    .icon {
        font-size: 2.0em;
        vertical-align: middle;
        margin-right: 10px;
        padding-top: 1px;
    }

    .bg-box {
        float: left; 
        width: 90vw; 
        height: 100%;  
        opacity: 0.7;
        margin: 40px 30px; 
        text-align: center; 
        padding: 20px 10px; 
    }

    .sm-box {
        float: left; 
        height: 90%; 
        width: 100%; 
        text-align: center; 
    }
    /* contact page */
    .contact-box {
        grid-column: span 12;
        float: left; 
        width: 100%;
        height: 60%; 
        background-color: #029ffa;
        text-align: center;
        padding: 0vw 2vw;    
    }

    .contact-box .title {
        font-size: 8vw; 
        color: white; 
        padding: 5%; 
    }

    #fs-frm [type="text"],
    #fs-frm [type="email"],
    #fs-frm [type="phone"]{
      width: 100%;
      padding: 3%; 
      background-color: #029ffa; 
    }
    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm fieldset,
    #fs-frm optgroup,
    #fs-frm label,
    #fs-frm #card-element:disabled {
        font-family: inherit;
        font-size: 100%;
        color: white; 
        border-radius: 0;
        display: block;
        width: 100%;
        background-color: #029ffa; 
        padding: 2;
        margin: 2; 
        -webkit-appearance: none;
        -moz-appearance: none;
    }
      /* end contact page */
}



