body {
    background-color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400; 
} 

.main {
    padding: 16px;
    margin-top: 50px;
}

/* navbar */

.navbar{ 
    overflow: hidden;
    max-height: 90px; 
    text-align: center;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 9999; 
    background: white; 
}

.logo { 
    float: left;
    margin-left: 350px; 
}

nav li {
    padding: 17px; 
    display: inline-block;
    text-align: center; 
}

nav a {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase; 
}

.first-letter {
    font-size: 20px; 
}

.nav-link:hover{
    color:rgb(168, 168, 168) !important;
}

/* home */

.bg-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.blocktext { 
    z-index: 100; 
    position: absolute; 
    background: -webkit-linear-gradient( rgb(230, 75, 222), rgb(243, 184, 57));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px; 
    font-weight: bold;  
    left: 180px;
    top: 200px; 
    text-align: left; 
    font-family: 'Black Ops One', sans-serif;
}

.box{
    position: relative;
    display: inline-block;
    text-align: center; 
}

.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 35%;
    right: 0;        
    text-align: center;
    top: 40%; 
    letter-spacing: 4px;
    background: rgba(0, 0, 0, 0.8); 
    font-family: 'Merriweather Sans', sans-serif;
    color: #fff;
    width: 20%;
    height: 5%;  
    border: white; 
}

.box .border {
    border-style: solid;
    color: white; 
}

/* pages */

.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.title-box-2 {
    margin-bottom: 3rem;
}
  
.title-left {
    font-size: 2rem;
    position: relative;
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}